{% extends 'layout.html' %}
{% block content %}
  <body>
    {% load static %}
    <div class="container text-center">
      <div class="row justify-content-md-center">
        <div class="col-md-12 mt-4">
          <h2>Lista de archivos</h2>
          <hr />
        </div>
        {% for row in data %}
          {% if row.imagen %}
            <div class="col-lg-3 col-md-6 col-sm-12 pb-4">
              <div class="card h-100 text-center p-4">
                <a href="{{ row.imagen.url }}" target="_blank"><img class="rounded float-start" src="{{ row.imagen.url }}" alt="{{ row.name }}" style="width: 150px" /></a>
              </div>
            </div>
          {% endif %}
          <!--  -->
          {% if row.documento %}
            <div class="col-lg-3 col-md-6 col-sm-12 pb-4">
              <div class="card h-100 p-4">
                <a href="{{ row.documento.url }}" target="_blank">Ver documento</a>
                <p>{{row.documento.name}}</p>
              </div>
            </div>
          {% endif %}
        {% empty %}
          <p>No hay registros</p>
        {% endfor %}
      </div>
    </div>
  </body>
{% endblock %}
